body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.login-container {
    text-align: center;
    background: white;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    margin-bottom: 70px;
    font-size: 40px;
    color: #333;
}

.kakao-login-button {
    background-color: #fee500;
    border: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.naver-login-button {
    background-color: #1ed14b;
    border: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.kakao-login-button:hover {
    background-color: #fdd835;
}

.naver-login-button:hover {
    background-color: #1ed14b;
}




.register-button {
    background-color: #87b8f8;
    border: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.register-button:hover {
    background-color: #87b8f8;
}
